#app {
  font-size: .14rem;
}

.hello {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-size: .12rem;
  display: flex;
  flex-direction: column;
}

header {
  height: .4rem;
  display: flex;
  justify-content: space-between;
  line-height: .4rem;
  font-size: .14rem;
}

header input {
  width: 70%;
  height: 80%;
  padding-left: .3rem;
  border-width: 0;
  margin: .03rem .1rem;
  border-radius: 1rem;
}

section {
  flex: 1;
  overflow-y: scroll;
}

section .con {
  display: flex;
  flex-wrap: wrap;
}

section .con dl {
  flex-basis: 49%;
}

section .con dl dd p.ccc {
  display: flex;
  justify-content: space-around;
}

section .con dl dd p.ccc span {
  color: red;
  font-size: .16rem;
}

section .shopCar dl {
  display: flex;
}

section .shopCar dl dl {
  padding: 0.1rem;
  display: -webkit-flex;
  border-bottom: 0.01rem #dedede solid;
}

section .shopCar dl dl dt {
  width: 30%;
  padding-right: 0.1rem;
  line-height: .3rem;
  text-align: center;
  width: 90%;
  vertical-align: middle;
}

section .shopCar dl dl dd {
  display: -webkit-flex;
  flex-direction: column;
  width: 70%;
  padding-right: 0.15rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 .15rem;
}

footer a {
  -webkit-flex: 1;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

footer a b {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  line-height: .3rem;
  text-align: center;
  border-radius: 100%;
  font-size: .23rem;
}

footer a b i {
  color: #7e7e7e;
  vertical-align: middle;
}

footer a span {
  color: #7e7e7e;
}
